@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    width: 100%;
}

header {
    width: 100%;
    margin: 0;
    background-color: #fefefe;
    display: flex;

    #container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: "Open Sans", condensed;
            font-weight: 20;
            font-style: normal;
            color: #a9994e;
            font-size: 1.5em;
        }

        #logoOscars {
            width: 20%;
            margin-top: 1%;
        }
    }
}